$white: rgba(255, 255, 255, 0.3);

body {
  padding: 20rem;
  margin: 20rem;
  background-color: #95e2e2;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Dancing Script", cursive;
  color: #fff;
  opacity: 0.7;
  font-size: 3.4rem;
  margin-top: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form {
  background: $white;
  padding: 3em;
  height: 600px;
  border-radius: 20px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

// animations

.animat {
  position: absolute;
  z-index: 1;
  right: 32%;
  top: -100px;
}

.container {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  width: fit-content;
  z-index: 2;
}

.input {
  display: block;
  background: transparent;
  width: 300px;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  border-radius: 5000px;
  backdrop-filter: blur(15px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: rgb(25, 129, 136);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button {
  margin-top: 20px;
  width: 150px;
  font-size: 1rem;
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: rgba(255, 255, 255, 0.2);
  }
}

.placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: rgb(25, 129, 136);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

// button
button {
  border: none;
  padding: 1em;
  outline: none;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-style: 1.2em;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
  }
  &:before {
    filter: blur(7px);
    transition: all 0.25s ease;
    animation: pulse 10s infinite ease;
  }
  &:after {
    filter: blur(0.3px);
  }
  &:hover {
    &:before {
      width: 115%;
      height: 115%;
    }
  }
}
